@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
body { 
    margin: 0;
}
  #background {
    width: 100vw;
    height: calc(100vh - 120px);
    background-image: url("../media/background.jpg");
    background-size: cover;
    margin-top: 60px;
  }
  .green {
    background-color: #E2FE2C;
  }
  .greenfont {
      color: #E2FE2C;
  }
#button {
width: 100px;
height: 100px;
background-color: aliceblue;  
border-radius: 100px;
opacity: 0.2; 
margin-top: -250px;
margin-left: 2000px;
}
#button:hover {
    background-color: #E2FE2C;
    opacity: 0.5; 
}
#link-bottom1 {
/* background-color: #E2FE2C; */
width: 50px;
height: 3px;
transform: rotate(125deg);
/* 上方的代码为直线倾斜 */
margin-top: -50px;
margin-left: 2040px;
}
#link-bottom2 {
    /* background-color: #E2FE2C; */
    width: 50px;
    height: 3px;
    transform: rotate(-125deg);   
    margin-top: -4px;
    margin-left: 2012px;   
}
#pointgreen {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    margin-top: -600px;
    margin-left: 100px;   
}
#point1 {
    width: 40px;
    height: 40px;
    background-color: aliceblue;  
    border-radius: 100px;
    opacity: 0.2; 
    margin-top: 100px;
    margin-left: 100px;   
}
#point2 {
    width: 40px;
    height: 40px;
    background-color: aliceblue;  
    border-radius: 100px;
    opacity: 0.2; 
    margin-top: 100px;
    margin-left: 100px;   
}
#point3 {
    width: 40px;
    height: 40px;
    background-color: aliceblue;  
    border-radius: 100px;
    opacity: 0.2; 
    margin-top: 100px;
    margin-left: 100px;   
}
#title {
font-size: 150px;
font-family: 'PT Sans', sans-serif;
font-weight: bold;
margin-top: -1000px;
margin-left: 500px;   
padding-top:100px ;
position: absolute;
display: flex;
flex-direction: column;
align-items:flex-end;
line-height: 1;
}
#text {
color: lightgray;
font-family: 'PT Sans', sans-serif;
font-size: 65px;
width: 1800px;
margin: -1100px 1900px;
}
#en {
    font-weight: bold;   
    font-size:70px;
    margin-top: -6px;
}
#language {
display: flex;
flex-direction: row;
justify-content:flex-end;
color: rgb(255, 255, 255);
font-family: 'PT Sans', sans-serif;
font-size: 65px;
margin-right:300px;
}
